<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>My account bank</title>
    <style>table th, table td {padding: 5px;}</style>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../static/main.css" />
<link rel="stylesheet" type="text/css" th:href="@{/materialize.css}" href="../../static/materialize.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header th:replace="fragments/app-fragments :: header"></header>
<div th:replace="fragments/app-fragments :: navbar"></div>
    <h1>Account bank list</h1>
    
    <div class="container">

    <table border="1">
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Address</th>
          <th>Iban</th>
          <th>Zip</th>
        </tr>
        <tr th:each="account : ${accounts}">
          <td th:utext="${account.name}">NAME</td>
          <td th:utext="${account.city}">CITY</td>
          <td th:utext="${account.address}">ADDRESS</td>
          <td th:utext="${account.iban}">IBAN</td>
          <td th:utext="${account.zip}">ZIP</td>  
          <td><button class="large material-icons">clear</button></td>  
          
        </tr>
    </table>
    
    <a th:href="@{/createAccountBank}" class="blue-text text-darken-2">Create account</a>
    </div>
    
</body>
</html>