
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Friend form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/main.css}"
	href="../../static/main.css" />
<link rel="stylesheet" type="text/css" th:href="@{/materialize.css}"
	href="../../static/materialize.css" />
</head>
<body>
	<div id="u-nav" th:insert="~{/fragments/app-fragments :: navbar}">Nav</div>
	<div id="u-main-content">
	</div>
			<div class="container">
			<form th:action="@{/userCreation}" th:object="${createUserForm}" method="post">

				<label for="fname">First Name</label> 
				<input th:field="*{firstName}"type="text" id="fname" name="firstname" placeholder="Your name..">

				<label for="lname">Last Name</label> 
				<input th:field="*{lastName}" type="text" id="lname" name="lastname" placeholder="Your last name.."> 
			
							
				<label for="email">Email</label> <label for="subject">Subject</label>
				<input th:field="*{email}" id="email" type="email" class="validate">
					
				<label for="password">Password</label> 
				<input th:field="*{Password}" id="password" type="password" class="validate"> 

				<input type="submit" value="Submit">
			</form>
		</div>
</body>
</html>