<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<link rel="stylesheet" type="text/css" th:href="@{/materialize.css}" href="../static/materialize.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../static/main.css"/>
    <title>home</title>
    
</head>
<body>

<header th:replace="fragments/app-fragments :: header"></header>
<div th:replace="fragments/app-fragments :: navbar"></div>
<div class="container">
            <p>
                Bonjour <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
	<div class="col s12"> </div>
    <img th:src="@{/images/paymybuddy_logo.png}"/>
</div>
</body>
</html>