<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create transfer</title>
<link rel="stylesheet" type="text/css" th:href="@{/main.css}"
	href="../../static/main.css" />
<link rel="stylesheet" type="text/css" th:href="@{/materialize.css}"
	href="../../static/materialize.css" />
<th:block id="transfer-static-resources">
</th:block>
</head>
<body>
	<header th:replace="fragments/app-fragments :: header"></header>
	<nav th:replace="fragments/app-fragments :: navbar"></nav>


	<div id="transfer-main-content" class="container">
		<h2>Create transaction Bank</h2>

		<form th:action="@{/createTransferBank}" th:object="${createTransferForm}"
			method="post">

			<p>
				Balance <input type="number" th:field="*{balance}" />
			</p>
			<p>
				Libelle <input type="text" th:field="*{libelle_perso}" />
			</p>


			<label>Account Bank</label> <select class="browser-default "
				th:field="*{accountBank}">
				<option th:each="bank : ${banks}" th:value="${bank.id}"
					th:text="${bank.name}"></option>
			</select>


			<p>
				<input type="submit" value="Submit" />
			</p>
		</form>

	</div>


</body>
</html>
