<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Transaction</title>
<link rel="stylesheet" type="text/css" th:href="@{/main.css}"
	href="../../static/main.css" />
<link rel="stylesheet" type="text/css" th:href="@{/materialize.css}"
	href="../../static/materialize.css" />
<th:block id="transfer-static-resources">
</th:block>
</head>
<body>
	<header th:replace="fragments/app-fragments :: header"></header>
	<nav th:replace="fragments/app-fragments :: navbar"></nav>
	<div id="transfer-main-content" class="container">
		<h2>Create transaction</h2>

		<form th:action="@{/createTransfer}" th:object="${createTransferForm}"
			method="post">
			<p>
				Balance <input type="number" th:field="*{balance}" />
			</p>
			<p>
				Libelle <input type="text" th:field="*{libelle_perso}" />
			</p>
			<label>Friend</label> <select class="browser-default "
				th:field="*{receiver}">
				<option th:each="user : ${users}" th:value="${user.id}"
					th:text="${user.email}"></option>
			</select>
			<p>
				<input class="waves-effect waves-light btn white-text green darken-1" type="submit" value="Submit" />
			</p>
		</form>
	</div>
</body>
</html>
