<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}"
	href="../../static/main.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/materialize.css}">
  </head>
  <body>
  <header th:replace="fragments/app-fragments :: header"></header>
	<nav th:replace="fragments/app-fragments :: navbar"></nav>
	<div class="container">
	<h2>Transaction history</h2>
	<a th:href="@{/createTransfer}" class="blue-text text-darken-2">Create new transaction</a>
    <a th:href="@{/createTransferBank}" class="blue-text text-darken-2">Create new bank transaction</a>
    <table border = "1">
    <tr>
      <th>id transaction</th>
      <th>Date</th>
      <th>Emitter</th>
      <th>Receiver</th>
      <th>Libelle</th>
      <th>Balance</th>
    </tr>
    <tr data-th-each="transaction : ${ transactions }">
      <td data-th-text="${ transaction.id_transaction }"></td> 
      <td data-th-text="${ transaction.date_transaction }"></td> 
      <td th:if="${transaction.emitter.id == transaction.receiver.id}" data-th-text="${ transaction.accountBank.name}"></td>
      <td th:if="${transaction.emitter.id == transaction.receiver.id}" data-th-text="${ transaction.emitter.firstName} +' '+ ${transaction.emitter.lastName}">Bank-</td>
           
      <td th:if="${transaction.emitter != transaction.receiver}" data-th-text="${ transaction.receiver.firstName} +' '+ ${ transaction.emitter.lastName }"></td>
      <td th:if="${transaction.emitter != transaction.receiver}" data-th-text="${ transaction.receiver.firstName} +' '+ ${ transaction.receiver.lastName }"></td>
    
      <td data-th-text="${ transaction.libelle_perso }"></td>
      
      <td th:if="${transaction.emitter != transaction.receiver}" data-th-text="${ transaction.receiver.firstName} +' '+ ${ transaction.receiver.lastName }"></td>
   
      <td th:if="${transaction.emitter = transaction.receiver}" data-th-text=")${ transaction.balance + ' €'}" ></td>
    </tr>
    </table>


    </div>
  </body>
</html>
