<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add contact</title>
<link rel="stylesheet" type="text/css" th:href="@{/main.css}"
	href="../../static/main.css" />
<link rel="stylesheet" type="text/css" th:href="@{/materialize.css}"
	href="../../static/materialize.css" />
<th:block id="transfer-static-resources">
</th:block>
</head>
<body>
	<header th:replace="fragments/app-fragments :: header"></header>
	<nav th:replace="fragments/app-fragments :: navbar"></nav>


	<div id="transfer-main-content" class="container">
		<h2>Add new connection</h2>

		<form th:action="@{/addFriend}" th:object="${createFriendForm}" method="post">
			<p>Email <input type="text" th:field="*{email}" /></p>
			<p><input type="submit" class="waves-effect waves-light btn white-text green darken-1" value="Send invitation" /></p>
		</form>
	</div>

</body>
</html>
